

*{
    box-sizing:border-box;
    margin:0px;
    padding:0;
}

body{
    background: #F3F3F3 0% 0% no-repeat padding-box;
}

.flex-box{

    display:flex;
    justify-content: space-between;
    height: 60px;

}

nav{
    
    height: 60px;
    background: #004675 0% 0% no-repeat padding-box;
    opacity: 1;
}

.upper-half{
    
    display:flex !important;
    justify-content: space-around;
    align-items: center;
    width:60%;
    margin-left:30px;
}

.upper-right{
    width:40%;
    display:flex !important;
    justify-content: flex-end;
    margin-right:70px;
    align-items: center;
}

.upper-right li{
    margin-right:30px;
}

nav ul li{
    list-style-type: none;  
    text-align: left;
    font: normal normal bold 18px/36px Open Sans;
    
}

nav ul li a{
    text-decoration: none;
    color: #FFFFFF;

}
.logo{
    width: 56px;
    height: 49px;
    border: 2px solid #FFFFFF;
    opacity: 1;
    margin-top:4px;
}


.my-container{
    margin-left:75px;
    margin-right:75px;
    margin-top:50px;
}

.state-select{
    margin-right:51px;
}

select{
    
    padding-left:6px;
    width: 144px;
    height: 38px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border:none;
}

.fa-search{
    height: 38px;
    background: #004675 0% 0% no-repeat padding-box;
    padding:12px;
    color:white;
    position: absolute;
    right:-50px;
}

.search-bar{
    position: relative;
    padding-left:5px;
    border:none;
    margin-right:0px !important;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    width:280px !important;
    height:38px;
   
}
.s-f{
    background:red;
    margin-left:60px;
}

.card{
    position: relative;
    height:215px;
    padding-top:13px;
    margin-top:30px;
 
}


.card-top{
    padding-left:15px;
}

.logo-card{
    position: absolute;
    top:0;
    right:0;
    width:90px;
    
}

.card-heading{
    text-align: left;
    font: normal normal bold 32px/57px Open Sans;
    letter-spacing: 0px;
    color: #000000;
}

.location-text{
    font: normal normal bold 15px/27px Open Sans;
    margin-bottom: 30px;
}

.card-footerr{
    text-align:center;
    background: #004675 0% 0% no-repeat padding-box;
    color:white;
    font: normal normal bold 20px/46px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-top:10px;
}
.text-1, .text-2{
    font: normal normal bold 18px/32px Open Sans;


}
.text-2{
    text-align:right;
}